body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: #e7c9d9;
  margin: auto;
}

.cabecalho {
  display: flex;
  justify-content: center;
  color: #ff1493;
}

#divBusca {
  max-width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
}
#divBusca input {
  width: 400px;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.navbar a {
  margin: 10px;
  color: #ff69b4;
  text-decoration: none;
}

.navbarQuem-somos {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.navbarQuem-somos a {
  margin: 10px;
  color: #ff69b4;
  text-decoration: none;
}

.navbar-contato {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.navbar-contato a {
  margin: 10px;
  color: #ff69b4;
  text-decoration: none;
}

.container {
  max-width: 1480px;
  padding: 0 32px;
  margin: 0 auto;
}

.imagemGeral {
  display: flex;
  justify-content: center;
  height: 900px;
  padding-bottom: 100px;
}

.tituloDestaque {
  text-align: center;
  padding-bottom: 80px;
  color: #ff1493;
}

.produtos-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

h5 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

span {
  display: flex;
  align-items: center;
}

.carrinhoAdicionar {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding-bottom: 0.75em;
  padding-top: 0.5em;
  height: 100%;
  padding-top: 20px;
}

.botao-compra {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  height: 40px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 30px;
}

.botao-compra .text {
  background: #ff1493;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  border-radius: 8px;
  width: 80%;
  color: #fff;
  font-weight: bold;
}

.botao-compra .image {
  background: #fff;
  border: 2px solid #ff1493;
  margin-left: 10px;
  border-radius: 8px;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-compra .image img {
  max-height: 18px;
  width: 18px;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 50px 30px;
  background-color: #ff1493;
}
footer .menu a {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}

footer .menu img {
  width: 13px;
}

h2 {
  font-size: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

footer .payments img {
  padding: 0 10px;
  max-width: 100%;
  width: 50px;
}

.payments {
  margin-left: 30px;
  color: #fff;
}
h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

p {
  color: rgba(0, 0, 0, 0.795);
}

h4 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.808);
}

.social {
  max-width: 100%;
  height: 22px;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  color: rgba(0, 0, 0, 0.849);
}

.social a {
  color: rgba(0, 0, 0, 0.795);
  text-decoration: none;
  font-weight: bold;
  margin-right: 5px;
}

.paginaQuemsomos--banner-principal {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  padding-top: 20px;
}

.paginaQuemsomos h1 {
  display: flex;
  justify-content: center;
}

.paginaQuemsomos p {
  padding-left: 80px;
  font-weight: bold;
}

.carousel {
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.carousel .slick-arrow {
  position: absolute;
  z-index: 1;
  bottom: 60%;
  background-color: #fff;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  cursor: pointer;
}

.carousel .slick-arrow-left {
  left: -25px;
}

.carousel .slick-arrow-right {
  right: 25px;
}

.rodape a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-right: 5px;
  display: flex;
  justify-content: flex-start;
}

.ropade img {
  max-width: 100%;
  height: 22px;
  padding-left: 10px;
  flex-direction: column;
  white-space: nowrap;
}

.cartoesPagamento {
  display: flex;
  justify-content: center;
}
